{
  "presets": [
    "latest",
    "stage-2"
  ],
  "plugins": [
    "syntax-flow",
    "transform-flow-strip-types",
    "transform-runtime",
    [
      "typecheck", {
        "disable": {
          "production": true
        }
      }
    ],
  ],
  "env": {
    "test": {
      "plugins": ["istanbul"]
    }
  }
}
